<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
  <style>
    

    body {
      
      font-family: sans-serif;
      font-size:small;
    }

    div.page {
      margin: 10mm;
      padding: 10mm;
      border: 0.5pt solid gray;
    }

    div.bgcolor {
      background-color: #e0e0e0;
      line-height: 170%;
    }
    td{

      margin-top: 10PX;
    }
  </style>
</head>

<body>
  <div class="page">
    <h2>SOLICITUD DE INGRESO A TALLER N_____</h2>


    <div class="bgcolor">
    </div>


    <table style=" border: 0.5pt solid black;">
      <tbody>
        <tr>
          <td>
            <p style="background:rgb(15, 15, 15); color: #e0e0e0;">FECHA DE <br> SOLICITUD</p>
          </td>
          <td>aa/mm/aaa</td>
        </tr>
      </tbody>
    </table>

    <p>&nbsp;<p>

   
    <p style="background:rgb(15, 15, 15); line-height:170%; color: #e0e0e0; text-align: center;">DATOS DEL SOLICITANTE
    </p>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td style=" width: 20%;">NOMBRE</td>
          <td>XXXX</td>
        </tr>
        <tr style="border-top: 0.5pt solid black;">
          <td style="border-top: 0.5pt solid black; width: 20%;">LICENCIA</td>
          <td style="border-top: 0.5pt solid black;">XXXX</td>
          <td style="border-top: 0.5pt solid black; width: 20%;">VIGENCIA</td>
          <td style="border-top: 0.5pt solid black;">XXXX</td>
        </tr>
        <tr>
          <td style=" width: 20%;">ORIGEN</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td style=" width: 20%;">CONTACTO</td>
          <td>XXXX</td>
        </tr>
        <tr style="height: 90px;">
          <td style=" width: 20%;">FIRMA</td>
          <td></td>
        </tr>

      </tbody>
    </table>
    <p style="background:rgb(15, 15, 15); line-height:170%; color: #e0e0e0; text-align: center;">DATOS DEL JEFE DE AREA
    </p>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td style=" width: 20%;">NOMBRE</td>
          <td>XXXX</td>
        </tr>
     
       
        <tr>
          <td style=" width: 20%;">CONTACTO</td>
          <td>XXXX</td>
        </tr>
        <tr style="height: 90px;">
          <td style=" width: 20%;">FIRMA</td>
          <td></td>
        </tr>

      </tbody>
    </table>
    <p style="background:rgb(15, 15, 15); line-height:170%; color: #e0e0e0; text-align: center;">DATOS DE LA UNIDAD
    </p>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td style=" width: 20%;">NUMERO</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td style=" width: 20%;">KILOMETRAJE</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td style=" width: 20%;">MARCA</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td style=" width: 20%;">TIPO</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td style=" width: 20%;">ORIGEN</td>
          <td>XXXX</td>
        </tr>
        
       

      </tbody>
    </table>
   <br>
    <p style="background:rgb(15, 15, 15); line-height:170%; color: #e0e0e0; text-align: center;">DESCRIPCION DE FALLAS O DESPERFECTOS DETECTADOS 
    </p>

    <TEXtarea style="width: 100% ;"  rows="15"></TEXtarea>
    <p style="background:rgb(15, 15, 15); line-height:170%; color: #e0e0e0; text-align: center;">ORDEN DE TRABAJO RECONOCIDA POR
    </p>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td style=" width: 20%;">NOMBRE</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td style=" width: 20%;">FECHA</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td style=" width: 20%;">FECHA</td>
          <td>XXXX</td>
        </tr>
        <tr style="height: 90px;">
          <td style=" width: 20%;">FIRMA</td>
          <td></td>
        </tr>
      </tbody>
    </table>


</body>

</html>