<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>body {
        background-color: #000;
        color: #fff;
    }
    
    .container {
        width: 600px;
        margin: 0 auto;
        padding-top: 50px;
    }
    
    .form-group label {
        color: #fff;
    }
    
    .form-control {
        background-color: #333;
        border: none;
        color: #fff;
    }
    
    .btn-primary {
        background-color: #5cb85c;
        border: none;
    }</style>
</head>
<body>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="barcode">Código de Barras</label>
                <input type="text" class="form-control" id="barcode">
            </div>
            <!-- Agrega aquí los demás campos del formulario -->
            <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </form>
    </div>
</body>
</html>